html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth !important;
}

.fas,
.fa-galactic-senate {
  font-size: 2em;
}

.values-bg {
  background: linear-gradient(90deg, rgba(4, 9, 30, 0.85) 23%, rgba(4, 9, 30, 0.85) 69%), url("../img/001.jpg") no-repeat;
  position: cover;
  background-size: cover;
}

.valuecards-text {
  color: #fff;
}

.clear-filter[filter-color=orange] {
  background: linear-gradient(0deg, rgba(44, 44, 44, .2), rgba(22, 110, 0, 0.6));
}